<a href="https://colab.research.google.com/github/CatMolnia/BOOKS_study/blob/main/Pandas_%D0%B2_%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"""---ЗНАКОМСТВО С БИБЛИОТЕКОЙ PANDAS---"""

"""---1.3 ОБЗОР БИБЛИОТЕКИ PANDAS---"""

"""---1.3.2. Операции над объектами DataFrame---"""

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('movies.csv', index_col='Title') # импорт данных
print(movies)

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [ ]:
movies.iloc[499] # извлекаем строку по индексу (числовой позиции)

Rank           500
Studio         Fox
Gross     $288.30
Year          2018
Name: Maze Runner: The Death Cure, dtype: object

In [ ]:
movies.loc['Forrest Gump'] # извлекаем строку по индексу (по метке индекса)

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object